numpy==1.26.4
opencv-python
Pillow
torch==2.0.1
torchvision>=0.8.2
matplotlib
pandas
transformers
pytorch-lightning
lightning[extra]
tensorboard-pytorch
tensorboard
scikit-learn
ultralytics==8.0.163
albumentations
ttach
tqdm
open-clip-torch
black
torcheval
jupyter
